.cell {
    background-size: cover;
    position: absolute;
}
.antibody {
    background-image: url('./white-blood-cell.svg');
}
.virus {
    background-image: url('./virus.svg');
}
.deadMatter {
    background-image: url('./dead-matter.svg');
}
.superSpreader {
    background-image: url('./superspreader.svg');
}