.cell {
    background-size: cover;
    position: absolute;
}
.antibody {
    background-image: url('./white_blood_cell.svg');
}
.virus {
    background-image: url('./virus.svg');
}
.deadMatter {
    background-image: url('./dead_matter.svg');
}
.superSpreader {
    background-image: url('./superspreader.svg');
}