.cell {
    background-size: cover;
    position: absolute;
}
.antibody {
    background-image: url('./antibody.svg');
}
.virus {
    background-image: url('./virus.svg');
}
.deadMatter {
    background-image: url('./deadmatter.svg');
}
.superSpreader {
    background-image: url('./superspreader.svg');
}